.region-stats-row:nth-child(even) {
    background: #141414;
}
.region-stats-row-stat {
    transition: transform .25s ease-out;
}
.region-stats-row-stat:hover {
    border-color: rgba(255, 255, 255, 0.5);
    transform: scale(1.025);
}
