.region-stats-row:nth-child(even) {
  background: #171717;
}
.region-stats-row-stat {
  transition: transform 0.25s ease-out;
}
.region-stats-row-stat:hover {
  border-color: rgba(255, 255, 255, 0.5);
  transform: scale(1.025);
}
.region-stats-row-stat[data-selected="true"] {
  border-color: #ffd700;
}
@keyframes anim-yellow-fade {
  from {
    background: yellow;
  }
  to {
    background: rgb(19, 119, 82);
  }
}
.yellow-fade {
  animation-name: anim-yellow-fade;
  animation-duration: 1s;
}
.sidebar {
  height: 100vh;
  width: 20rem;
  min-width: 20rem;
  position: sticky;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
