html, 
body {
  height: 100%;
}
html, body, .sans-serif {
  font-family: Open Sans, Helvetica, Ubuntu, Roboto, sans-serif;
}
body {
  overflow-y: scroll;
  overflow-x: hidden;
  background: #1d1d1d;
}
