html, 
body {
  height: 100%;
}
html, body, .sans-serif {
  font-family: 'Open Sans', Helvetica, Ubuntu, Roboto, sans-serif;
}
body {
  overflow-y: scroll;
  overflow-x: hidden;
  background: #1d1d1d;
}
/* Don't show arrows on number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
